body {
  margin: 0;
  
}
.upper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
select {
  width: 20%;
  height: 20px;
} 
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10%;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 20%;
  border: 1px solid red;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
}
.card img {
  width: 98%;
  height: 100%;
  margin: 10px 1% 10px 1%;
}